body {
  padding-top: 65px;
}

.carousel-item {
  height: 95vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
	height: 65px;
	width: 65px;
}
.navbar{
	padding-top:0;
	padding-bottom:0;
	padding-right: 40px;
	background-color: #9b7b73;
	font-family: Homemade Apple;
}
